PizzaCabin1/PizzaCabin1/Web References/WebReference1/PizzaCabinInc1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/PizzaCabinInc" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PizzaCabinInc" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://pizzacabininc.azurewebsites.net/PizzaCabinInc.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="TeamSchedule">
    <xs:sequence>
      <xs:element minOccurs="0" name="Schedules" nillable="true" type="tns:ArrayOfSchedule" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TeamSchedule" nillable="true" type="tns:TeamSchedule" />
  <xs:complexType name="ArrayOfSchedule">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Schedule" nillable="true" type="tns:Schedule" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSchedule" nillable="true" type="tns:ArrayOfSchedule" />
  <xs:complexType name="Schedule">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContractTimeMinutes" type="xs:int" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsFullDayAbsence" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonId" type="ser:guid" />
      <xs:element minOccurs="0" name="Projection" nillable="true" type="tns:ArrayOfActivity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Schedule" nillable="true" type="tns:Schedule" />
  <xs:complexType name="ArrayOfActivity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Activity" nillable="true" type="tns:Activity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActivity" nillable="true" type="tns:ArrayOfActivity" />
  <xs:complexType name="Activity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
      <xs:element minOccurs="0" name="minutes" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Activity" nillable="true" type="tns:Activity" />
</xs:schema>